body {
  color:rgb(0, 150, 100);
  background-color: rgb(155, 255, 179);
}

body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yRF5c-O/videoblocks-flying-through-floating-and-glowing-question-marks-seamless-looping-motion-background-blue-cyan_ssu_lbko_thumbnail-small01.jpg");
    background-repeat: round;
    background-size: cover;
}

h1 {
  color:rgb(250, 99, 71);
}

h2 {
  background-color:rgb(255, 170, 71);
}

h3 {
  color:rgb(250, 99, 71);
}
